@model thethaomvc.Models.DanhGia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DanhGia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.HangTT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDG">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
