@model IEnumerable<thethaomvc.Models.BaiViet>

@{
    ViewData["Title"] = "BÀI VIẾT";
}

<h1>BÀI VIẾT</h1>

<p>
    <a asp-action="Create">TẠO MỚI</a>
</p>
<table class="table table-bordered">
    <thead class="bg-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TieuDe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoiDung)
                </td>
                <td>
                    <img src="~/images/@Html.DisplayFor(modelItem => item.HinhAnh)" width="100%" class="card-img" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="d-flex flex-column">
                    <a class="btn btn-warning mb-1" asp-action="Edit" asp-route-id="@item.IdBV">Edit</a>
                    <a class="btn btn-warning mb-1" asp-action="Details" asp-route-id="@item.IdBV">Details</a>
                    <a class="btn btn-warning mb-1" asp-action="Delete" asp-route-id="@item.IdBV">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
